$main-color: #002349;
$secondary-color: #3774B3;
$info-color: #002753;
$info-additional-color: #002C5D;
$border-main-color: #1D558F;
$border-secondary-color: #4A89C9;
$border-info-color: #D1D3E0;
$shadow-color: #9DADC870;
$hover-color: #F3F4F7;

$main-font-size: 16px;
$main-letter-spacing: 2.6px;
$main-font-weight: 400;

$pagination-item-height: 4px;
$pagination-item-width: 70px;

$icon-height: 8px;
$icon-width: 4px;
$icon-shift: 16px;

$separator-width: 1px;